<div>
      <h2>Detalle votaciones</h2>
    <div class="border">
    <div>
        <span><h4>{{votacion.titulo}}</h4></span>
    </div> 
     
        <Span><h4>{{votacion.candidatoUno.nombre}},   votos: {{votacion.candidatoUno.votos}} </h4></Span> 
        <Span><h4>{{votacion.candidatoDos.nombre}},   votos: {{votacion.candidatoDos.votos}}</h4></Span>
        <Span><h4>{{votacion.candidatoTres.nombre}},   votos: {{votacion.candidatoTres.votos}}</h4></Span>

        <span><h4>ESTADO DE LA VOTACION: ABIERTA</h4></span>
   
    </div>

    <div class="Volver">
        <a href="/"class="enlace-Volver">Volver Al Inicio</a>
        <a href="/votaciones"class="enlace-Volver">Atras</a>
     
</div>